main {
  --color-prettylights-syntax-comment: #8b949e;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-carriage-return-bg: #b62324;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-italic: #c9d1d9;
  --color-prettylights-syntax-markup-bold: #c9d1d9;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-btn-text: #cdd6f4;
  --color-btn-bg: #181825;
  --color-btn-border: #313244;
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: #11111b;
  --color-btn-hover-border: #313244;
  --color-btn-active-bg: #11111b;
  --color-btn-active-border: #313244;
  --color-btn-selected-bg: #181825;
  --color-btn-primary-text: #1e1e2e;
  --color-btn-primary-bg: #a6e3a1;
  --color-btn-primary-border: #313244;
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #a6e3a1;
  --color-btn-primary-hover-border: #313244;
  --color-btn-primary-selected-bg: #181825;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: #1e1e2e;
  --color-btn-primary-disabled-bg: #a6e3a1;
  --color-btn-primary-disabled-border: #313244;
  --color-action-list-item-default-hover-bg: #11111b;
  --color-segmented-control-bg: #1e1e2e;
  --color-segmented-control-button-bg: #181825;
  --color-segmented-control-button-selected-border: #313244;
  --color-fg-default: #cdd6f4;
  --color-fg-muted: #bac2de;
  --color-fg-subtle: #a6adc8;
  --color-canvas-default: #181825;
  --color-canvas-overlay: #6c7086;
  --color-canvas-inset: #11111b;
  --color-canvas-subtle: #11111b;
  --color-border-default: #313244;
  --color-border-muted: #45475a;
  --color-neutral-muted: #313244;
  --color-accent-fg: #cba6f7;
  --color-accent-emphasis: #cba6f7;
  --color-accent-muted: rgb(203, 166, 247, 40%);
  --color-accent-subtle: rgb(203, 166, 247, 15%);
  --color-success-fg: #a6e3a1;
  --color-attention-fg: #fab387;
  --color-attention-muted: #fab387;
  --color-attention-subtle: #fab387;
  --color-danger-fg: #f38ba8;
  --color-danger-muted: #f38ba8;
  --color-danger-subtle: #f38ba8;
  --color-primer-shadow-inset: 0 0 transparent;
  --color-scale-gray-7: #181825;
  --color-scale-blue-8: #181825;

  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-dark.gif");
}